.a{font-size: 3.5em;}
.a{text-shadow: 5px 5px 5px #808080;}

.header{
    background-color: darkkhaki;
    width: 100%;
    height: 75px;
}
.nav {
    background-color: gainsboro;
    height: 500px;
    width: 20%;
    float: left;
}
.content {
    height: 500px;
    width: 80%;
    float: right;
}
.footer {
    background-color: darkkhaki;
    padding: 1em;
    clear: both;
    text-align:center;
    font-size:1.5em;
}
ul {
    list-style: none;
    text-align: center;
    padding: 23px;
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000;
}
ul li{
    display: inline;
    padding: 0px 30px;
}
a{text-decoration:none; color:black;}
a:hover{text-decoration:underline;}
#li1{font-size:1.25em;}
#li2{font-size:1.25em;}
#li3{font-size:1.25em;}
#li4{font-size:1.25em;}
#li5{font-size:1.25em;}
#li6{font-size:1.25em;}
#plan{font-size:2.0em}
p{font-size:3em;}
p{text-align:center;}
em{font-size:2.0em}
.center {
    margin-left: auto;
    margin-right: auto;
}
dl{font-size:2.0em;}